<div>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/products-list">Product List</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li routerLinkActive="active">
              <a routerLink="/cart">Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-10">
         <router-outlet #routerOutlet="outlet">
         </router-outlet>
       </div>
     </div>
   </div>
 </div>
