<div *ngIf="orders.length>0; else elseBlock">

  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="list-group" *ngFor="let order of orders">
        <li class="list-group-item">
          <app-order [order]="order"></app-order>
          <div>Status: {{getStatusName(order.status)}}</div>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <ng-template #elseBlock>
    <div class="panel panel-default">
      <div class="panel-body">
        No items available
      </div>
    </div>
  </ng-template>
