<h3>Cart list:</h3>

<div *ngIf="cartItems.length>0; else elseBlock">
  <h5>Count of items: {{getCount()}}</h5>
  <h5>Overall price: {{getSum()}}</h5>

  <h5>Sort by</h5>
  <select [(ngModel)]="selectedValue">
    <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">{{sortOption}}</option>
  </select>

  <li *ngFor="let item of cartItems | orderBy: selectedValue">
    <app-cart-item
      [item]=item
      (remove)="onRemoveClicked($event)"
      (increase)="onIncreaseClicked($event)"
      (decrease)="onDecreaseClicked($event)">
    </app-cart-item>
  </li>

  <button type="button" class="btn btn-primary btn-xs pull-right" (click)="onOrderClicked()">Order</button>
</div>
<ng-template #elseBlock>
  <div>No items in cart</div>
</ng-template>
